// colors
$pcolor: firebrick;
$bcolor: dodgerblue;
$black: black;
$green: #00a74a;
$green-active: #13ff7c;
$yellow: #cca707;
$yellow-active: #fed93f;
$blue: #094a8f;
$blue-active: #1c8cff;
$red: #9f0f17;
$red-active: #ff4c4c;
$border-color: #333;
$controls-color:  #d1c6c6;
$controls-start: #fc0102;
